.Entete {
  position: sticky;
  top: 0;
  z-index: 10;
  height: 4rem;
  margin: 0;
  padding: 1.5rem;
  font-size: 1.2rem;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  nav.nav-principale {
    font-size: 0.8rem;
    display: flex;
    column-gap: 1rem;

    span {
      display: inline-block;
      padding: 1rem;
      cursor: pointer;
    }

    .nav-active {
      background-color: #888;
    }
  }

  nav.nav-secondaire {
    
    ul {
      margin: 0.75rem 0 0 0;
      list-style: none;
      padding: 0;
      display: flex;
      font-size: 0.8rem;
      
      li {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        
        &:not(:last-of-type) {
          padding-right: 1rem;
          border-right: 1px solid white;
        }

        &:not(:first-of-type) {
          padding-left: 1rem;
        }
      }
    }

    #cc-sommaire-panier {
      display: none;
    }

    .sommaire-panier {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      position: absolute;
      top: 2.45rem;
      right: -1.5rem;
      background-color: darkgreen;
      font-size: 0.8rem;
      width: 15rem;
      transform: translateX(100%);
      transition: transform 0.5s;

      &>div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        border-bottom: 1px dotted white;
        font-size: 0.8rem;
      }
    }

    #cc-sommaire-panier:checked ~ .sommaire-panier {
      transform: translate(0);
    }
  }
}